# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# CompilationFills
*.dll
*.pdb

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.exe
*.manifest
*.cache
Eric_Crypto_Library/HomeWork1/obj/x86/Debug/HomeWork1.csproj.FileListAbsolute.txt
*.dll
Eric_Crypto_Library/Eric_Crypto_Library/obj/Debug/Eric_Crypto_Library.csproj.FileListAbsolute.txt
*.dll
Eric_Crypto_Library/Eric_Crypto_Library/bin/Debug/MathNet.Numerics.xml
Eric_Crypto_Library/Eric_Crypto_Library_Test/bin/Debug/MathNet.Numerics.xml
Eric_Crypto_Library/HomeWork1/bin/Debug/MathNet.Numerics.xml
Eric_Crypto_Library/Homework3/bin/Debug/MathNet.Numerics.xml
Eric_Crypto_Library/Homework3/obj/x86/Debug/Homework3.csproj.FileListAbsolute.txt
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/lib/net35/MathNet.Numerics.xml
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/lib/net40/MathNet.Numerics.xml
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/lib/portable-net40+sl5+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/lib/portable-net45+sl5+netcore45+MonoAndroid1+MonoTouch1/MathNet.Numerics.XML
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/license.txt
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/MathNet.Numerics.3.2.3.nupkg
Eric_Crypto_Library/packages/MathNet.Numerics.3.2.3/readme.txt
Eric_Crypto_Library/Homework4/bin/Debug/ConvertedStrings.txt
Eric_Crypto_Library/Homework4/bin/Debug/MathNet.Numerics.xml
Eric_Crypto_Library/Homework4/obj/x86/Debug/Homework4.csproj.FileListAbsolute.txt
Eric_Crypto_Library/Eric_Crypto_Library_Test/obj/Debug/Eric_Crypto_Library_Test.csproj.FileListAbsolute.txt
Eric_Crypto_Library/Eric_Crypto_Library_Test/bin/Debug/nunit.framework.xml
Eric_Crypto_Library/Eric_Crypto_Library/bin/Debug/Moq.xml
Eric_Crypto_Library/Eric_Crypto_Library.suo
Eric_Crypto_Library/Eric_Crypto_Library.sln.DotSettings.user
